.simplify {
  margin-top: 40px;
  padding: 50px 10px;
  background-color: $Bright-red;
  background-image: url('../images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position-y: center;
  @include media('desktop-s'){
    background-image: url('../images/bg-simplify-section-desktop.svg');
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 120px;
  }
  &__text {
    color: $Very-pale-red;
    font-size: 3.7rem;
    @include media('desktop-s'){
      padding: 0;
      padding-right: 50px;
      width: 470px;
      text-align: left;
    }
  }
  &__button {
    color: $Vary-light-gray;
    background-color: $Very-pale-red;
    font-weight: bold;
    @include media('desktop-s'){
      margin: 0;
    }
  }
  &__button:hover {
    background-color: $Very-pale-red;
  }
}

